@mixin markdown {
  ::v-deep() ul {
    padding-left: 2em;
    > li {
        list-style: circle;
    }
  }
  ::v-deep() h2,
  ::v-deep() h3 {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  ::v-deep() h4 {
    margin: 10px 0;
  }
  ::v-deep() p,
  ::v-deep() li {
    line-height: 1.5;
    margin-bottom: 1em;
  }
  ::v-deep() blockquote {
    padding: 1em 2em;
    border-left: 4px solid #cbcbcb;
    margin-left: 0;
    background: #0f4575;
    > p {
      margin: 0;
    }
  }
  ::v-deep() img {
    display: block;
    margin: 1em 0;
    max-width: 50em;
  }
  ::v-deep() a {
    color: #0269c8;
  }
  ::v-deep() ul,
  ::v-deep() ol {
    margin: 2em 0;
  }
  ::v-deep() table {
    border-width: 1px;
    border-style: solid;
    padding: 1px;
    td, th {
      padding: 1em 2em;
    }
    tbody {
      tr {
        &:nth-of-type(odd) {
          background: #ddd;
        }
      }
    }
  }
  ::v-deep() h2,
  ::v-deep() h3,
  ::v-deep() h4,
  ::v-deep() h5,
  ::v-deep() h6 {
    color: #9ddfd3;
  }
  ::v-deep() table tbody tr:nth-of-type(2n+1) {
    background: rgb(2, 2, 2);
  }
  ::v-deep() table {
    margin-bottom: 1em;
  }
  ::v-deep() strong {
    color: #fff;
  }
}