@mixin ellipsis($width) {
  width: $width;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

@mixin multipleEllipsis($num) {
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin randomColor {
  background-color: rgb(random(255),random(255),random(255));
}

@mixin scrollBar($width: 10px, $trackBg: rgb(26,26,28), $thumbBg: rgb(195, 8, 63), $thumbHover: lighten($color: rgb(195, 8, 63), $amount: 10%)) {
  /* width */
  &::-webkit-scrollbar {
    width: $width;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: $trackBg;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $thumbBg;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $thumbHover;
  }
}

@mixin fontFace($name, $path) {
  $newPath: '#{$path}/#{$name}/#{$name}';
  @font-face {
    font-family: $name;
    src: url('#{$newPath}.eot?#font-spider');
    src:
      url('#{$newPath}.eot?#font-spider') format('embedded-opentype'),
      url('#{$newPath}.woff2?#font-spider') format('woff2'),
      url('#{$newPath}.woff?#font-spider') format('woff'),
      url('#{$newPath}.ttf?#font-spider') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

// 管理z-index
// 参数为$zIndexLevel中的key值
@mixin zIndex($key) {
  $zIndexLevel: (
    wallpaper: -1,
    overlay: 1,
    tooltip: 2,
    popover: 3,
    navigation: 4,
    affix: 5,
    modal: 6,
    breakThroughTheSky: 99
  );
  z-index: map-get($zIndexLevel, $key)
}